/* 
    Created on : 23.10.2015, 6:51:24
    Author     : Roman Sorokin
*/
body {
    margin: 0px;
    padding: 0px;
}
* {
    font-family: 'Roboto', sans-serif;
}
.content {
    margin: 0px auto;
    max-width: 1200px;
    min-width: 750px;
}

.fatGrayUnderLineLeftWrap {
    text-align: right;
    color: gray;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 10px;
}
td {
    width: 25%;
    padding: 5px;
}
.megatable {
    width: 100%;
    border: 1px solid;
}
.clear {
    clear: both;
}

#popUp{
    z-index: 99;
    position: absolute;
    height: 200px;
    width: 200px;
    background: url('img/html5-logo.png') top center;
    background-size: contain;
    padding: 10px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin: -100px 0px 0px -100px;
    display: none;
    cursor: pointer;
}
#popUp:hover {
    background: url('img/javascript-logo.png') top center;
    background-size: contain;
}